<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Information</title>
</head>

<body>
    <div class="foodInfor-container">
        <div class="header">
            <div class="header-title">Food Information</div>
            <div class="describe">Check and update the information about the food</div>
        </div>
        <div class="preliminary-information">
            <div class="preliminary-container">
                <div class="name">Name</div>
                <div class="content">Ackee, canned, drained</div>
            </div>
            <div class="preliminary-container">
                <div class="name">Source</div>
                <div class="content">McCance and Widdowson's</div>
            </div>
            <div class="preliminary-container">
                <div class="name">Category</div>
                <div class="content">Vegetables and Vegetable Products</div>
            </div>
            <div class="preliminary-container">
                <div class="name">Quantity</div>
                <div class="quantity-container">
                    <div class="value-mass"></div>
                    <div class="mass"></div>
                </div>
            </div>
        </div>
        <div class="nutrient-value">
            <div class="macronutrients-container">
                <div class="title">Macronutrients</div>
                <div class="value-container">
                    <div class="name"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>