<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add recipe</title>
</head>

<body>
    <div class="add-container">
        <div class="represent-recipe">
            <div class="recipe-img"></div>
            <div class="community-recipes">
                <div class="logo-recipe"></div>
                <div class="community-content">Community Recipes</div>
            </div>
            <div class="typeOfFood">
                <div class="typeOfFood-img"></div>
                <div class="typeOfFood-content">Vegatarian dishes</div>
            </div>
        </div>
        <div class="favorite-container">
            <div class="favorite-logo"></div>
            <div class="favorite-title">Add to favourite</div>
        </div>
        <div class="basic-information">
            <div class="infor-header">
                <div class="basicInfor-title">Basic information</div>
                <div class="basicInfor-content">Check and edit recipe's basic information</div>
            </div>
            <div class="basicInfor-list">
                <div class="basicInfor-element">
                    <div class="element-name">Name</div>
                    <div class="element-content">Turmeric Roasted Cauliflower Salad (lowfodmap)</div>
                </div>
                <div class="basicInfor-element">
                    <div class="element-name">Description</div>
                    <div class="element-content">Our roasted cauliflower salad with turmeric is low in calories and
                        packed with punchy flavor. Turmeric
                        adds lovely color and flavor to this easy vegan-friendly recipe</div>
                </div>
                <div class="basicInfor-element">
                    <div class="element-name">Author</div>
                    <div class="element-content">Joana Jardim</div>
                </div>
                <div class="basicInfor-element">
                    <div class="element-name">Total time</div>
                    <div class="element-content">00:40</div>
                </div>
                <div class="basicInfor-element">
                    <div class="element-name">Preparation time</div>
                    <div class="element-content">00:40</div>
                </div>
                <div class="basicInfor-element">
                    <div class="element-name">Final weight</div>
                    <div class="element-content">978.8 grams</div>
                </div>
                <div class="basicInfor-element">
                    <div class="element-name">Portions</div>
                    <div class="element-content">44</div>
                </div>
            </div>
        </div>

        <div class="creation-container">
            
        </div>
    </div>
</body>

</html>