<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/recipe-card.css">
</head>

<body>
    <div class="recipes-container">
        <div class="header">
            <div class="titleHeader">Foods</div>
            <div class="contentHeader">Search, consult and add new foods to the system</div>
        </div>
        <div class="form">
            <input type="text" class="search-food">
            <div class="filter-container">
                <div class="btn-filter"><img src="../assets/images/Border (1).png" alt=""></div>
                <select class="category-filter">
                    <option value="Nutrient" selected disabled>Sort by nutrient</option>
                </select>
                </option>
            </div>
            <select class="category-filter">
                <option value="Category" selected disabled>Category</option>
            </select>
        </div>
        <div class="recipe-list">
            <div class="recipe-element">
                <div class="recipe-represent">
                    <div class="community-recipes">
                        <div class="logo-recipe"></div>
                        <div class="community-content">Community Recipes</div>
                    </div>
                    <div class="recipe-img"></div>
                </div>
                <div class="recipe-content">
                    <div class="recipe-content"></div>
                    <div class="author-like">
                        <div class="author">
                            <div class="avatar"></div>
                            <span>Joana Jardim</span>
                        </div>
                        <div class="like-container">
                            <div class="like-img"></div>
                            <div class="quantity"></div>
                        </div>
                    </div>
                    <div class="typeOfFood">
                        <div class="typeOfFood-img"></div>
                        <div class="typeOfFood-content">Vegatarian dishes</div>
                    </div>
                    <div class="recipe-nutrition">
                        <div class="nutrient-element">
                            <div class="title-nutrient">by</div>
                            <div class="valueBy">100g</div>
                        </div>
                        <div class="nutrient-element">
                            <div class="title-nutrient">Energy</div>
                            <div class="value">143 kcal</div>
                        </div>
                        <div class="nutrient-element">
                            <div class="title-nutrient">Fat</div>
                            <div class="value">6g</div>
                        </div>
                        <div class="nutrient-element">
                            <div class="title-nutrient">Carbohydrate</div>
                            <div class="value">18g</div>
                        </div>
                        <div class="nutrient-element">
                            <div class="title-nutrient">Protein</div>
                            <div class="value">5g</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>